# Node modules
node_modules/

# Cypress test results and screenshots
cypress/screenshots/
cypress/videos/

# Environment variables
.env
# OS-specific files
.DS_Store
Thumbs.db
# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
